@page "/Settings"
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject UserManager<User> _userManager;
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor _httpContext;
@inject IStringLocalizer<ChangeCulture> L

<h3>@L["Settings"]</h3>

<form>
    <div class="form-group">
        <label for="form_language">@L["Language"]</label>
        <select class="form-control" @onchange="OnSelected" value="@Lang" id="form_language">
            <option disabled hidden>@L["Select_your_language"]</option>
            <option value="en">@L["Language_english"]</option>
            <option value="ru">@L["Language_russian"]</option>
        </select>
    </div>
    <div class="form-group">
        <label for="form_theme">@L["Theme"]</label>
        <select class="form-control" @onchange="OnSelectedTheme" value="@Theme" id="form_theme">
            <option disabled hidden>@L["Select_your_theme"]</option>
            <option value="Original">@L["Theme_original"]</option>
            <option value="Black">@L["Theme_black"]</option>
        </select>
    </div>
</form>

@code {
    public string Theme;
    public string Lang;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _httpContext.HttpContext.Request.Cookies.TryGetValue("Theme", out Theme);

        var rqf = _httpContext.HttpContext.Features.Get<IRequestCultureFeature>();
        Lang = rqf.RequestCulture.UICulture.Name;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

    }

    private void OnSelected(ChangeEventArgs e)
    {
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }

    private void OnSelectedTheme(ChangeEventArgs e)
    {
        var culture = (string)e.Value;
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var query = $"?theme={Uri.EscapeDataString(culture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetTheme" + query, forceLoad: true);
    }
}