@inject ApplicationDbContext _db;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject UserManager<User> _userManager;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject IStringLocalizer<CompanyViewMain> L

@if (Model != null)
{

    <div class="row">
        @if (Model.UserID == User.Id && Model.IsEnd)
        {
            <div class="col-md-offset-10">
                <a class="btn btn-danger" onclick="RedirectTake(@Model.Id)">Take money and end company</a>
            </div>
        }
        <div class="col-md-12 text-center"><h3>Theme of Company: @Model.Theme</h3></div>
    </div>

    <div class="row">
        <div class="col-md-8"><h4>Rating Comapany: @Model.Rating </h4></div>
        <div class="col-md-8"><h5>Money @Model.CurrentMoney / @Model.NeedMoney</h5></div>

    </div>
    @if (Model.EndAtNextDay == true)
    {
        <h4 class="text-center text-danger"> Enformation! Company will be end tomorrow! </h4>
    }
    <hr />
    <h3 class="text-center">Photos</h3>
    @if (Model.CompanyImages.Count > 0)
    {
        int count = 0;
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.CompanyImages.Count; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                }
            </ol>
            <div class="carousel-inner">

                @foreach (var image in Model.CompanyImages)
                {
                    if (count == 0)
                    {
                        count++;
                        <div class="carousel-item active" style="transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;">
                            <img src="@image.PhotoPath" class="carousel-image" />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item " style="transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;">
                            <img src="@image.PhotoPath" class="carousel-image" />
                        </div>
                    }
                }
                <a class="carousel-mymove-left" href="#myCarousel" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left fa-2x" style="color: darkgray"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-mymove-right" href="#myCarousel" role="button" data-slide="next">
                    <i class="fas fa-chevron-right fa-2x" style="color: darkgray"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    } 
    else
    {
        <h3 class="text-center">No Photos in Company</h3>
    }

    <hr />
    <h3 class="text-center">Video Company</h3>
    <iframe height="315" src="https://www.youtube.com/embed/@GetParameterFromQuery()"
            frameborder="0"
            style="margin: 0 auto; display: block; width: inherit;"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <hr />


    <h3 class="text-center">Description</h3>
    <div>
        @MarkDownParser.Parse(Model.Description)
    </div>
}

@code {
    [Parameter]
    public Company Model { get; set; }
    [Parameter]
    public User User { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }

    }

    public void RedirectToCompany(Company company)
    {
        NavigationManager.NavigateTo("/" + company.Name);
    }

    public string GetParameterFromQuery()
    {
        try
        {
            Uri myUri = new Uri(Model.URLVideo);
            return HttpUtility.ParseQueryString(myUri.Query).Get("v");
        }
        catch (UriFormatException)
        {
            return HttpUtility.ParseQueryString(Model.URLVideo).Get("v");
        }


    }
}
