@page "/Company/TakeMoney/{CompanyId:int}"
@inject ApplicationDbContext _db;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject UserManager<User> _userManager;
@inject NavigationManager NavigationManager
@inject SingleCommentService _chatService;
@inject IJSRuntime JsRuntime;
@inject IStringLocalizer<TakeMoneyPage> L
@attribute [Authorize]

<h2 class="text-center">@L["Title"]</h2>
@if (LocalCompany != null)
{
    <h3>@L["Info1"] @UiUtil.FormatDecimal(LocalCompany.CurrentMoney) $</h3>
    <h3>@L["Info2"] @prosent %</h3>
    <h3>@L["Info3"] @UiUtil.FormatDecimal(money) $</h3>
    <br>

    <button class="btn btn-primary" @onclick="DeleteCompany">@L["button"]</button>
}


@code {
    [Parameter]
    public Company LocalCompany { get; set; }
    [Parameter]
    public User User { get; set; }
    [Parameter]
    public int? CompanyId { get; set; } = null;

    public int prosent;
    public decimal money;



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //int? companyId = GetQueryParm("companyid");
        var claimUser = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        User = await _userManager.GetUserAsync(claimUser);
        LocalCompany = await _db.Companies.FirstOrDefaultAsync(c => c.Id == CompanyId);
        if (LocalCompany == null || LocalCompany.IsEnd == false || LocalCompany.UserID != User.Id)
            RedirectToHome();

        money = LocalCompany.CurrentMoney * 0.95M;
        prosent = 5;
    }

    private void RedirectToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    public int? GetQueryParm(string parmName)
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri);
        var q = HttpUtility.ParseQueryString(uriBuilder.Query);
        if (Int32.TryParse(q[parmName], out int result))
            return result;
        else
            return null;
    }

    public void DeleteCompany()
    {
        LocalCompany.IsDeleted = true;
        _db.SaveChanges();
        NavigationManager.NavigateTo("/");
    }
}
